.content{
  margin-left: 290px;
  padding-right: 10px;

}
th{

  font-weight: 600;
  font-size: 18px;
  color: rgb(77, 130, 253);

}
td{

  font-weight: 400;
  font-size: 16px;
  color: rgb(77, 130, 253);

}